:root {
  /*colors*/
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  /*font*/
  --font-medium: 20px;
  --font-large: 24px;
  --font-small: 16px;

  /*shadow*/
  --shadow-regular: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadow-small: 0 5px 7px -1px rgba(137, 137, 137, 0.23);

  /*animation*/
  --animation-cubicBezier: 0.3s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}
